@import '@nuxt/ui';
@import 'tailwindcss';

@theme {
	--font-nunito: Nunito, serif;

	--container-base: 1200px;
}

@layer base {
	body {
		@apply text-base font-normal font-nunito leading-normal;
	}

	.router-link-active > svg {
		@apply text-info-500;
	}

	.router-link-active {
		@apply underline underline-offset-4;
	}

	.layout {
		display: grid;
		grid-template-columns: auto 1fr;
		grid-template-rows: auto 1fr;
		grid-template-areas:
			'sidebar header'
			'sidebar content';
	}

	.header {
		grid-area: header;
	}

	.sidebar {
		grid-area: sidebar;
	}

	.content {
		grid-area: content;
	}
}
