@import 'tailwindcss';

@theme {
	--font-nunito: Nunito, serif;

	--color-red: #e93c28;
	--color-dimmed-red: #e93c28cc;
}

@layer base {
	body {
		@apply bg-gray-900 text-white font-nunito text-base font-normal leading-normal scroll-smooth;
	}

	button {
		@apply cursor-pointer !outline-none;
	}

	.layout {
		display: grid;
		grid-template-columns: auto 1fr;
		grid-template-rows: auto 1fr;
		grid-template-areas:
			'sidebar header'
			'sidebar content';
	}

	.header {
		grid-area: header;
	}

	.sidebar {
		grid-area: sidebar;
	}

	.content {
		grid-area: content;
	}

	.transition_color {
		@apply transition-colors duration-300 ease-in-out;
	}

	.router-link-active {
		@apply underline underline-offset-4;
	}

	.router-link-active svg {
		@apply text-red;
	}
}
